/*CSS INDEX*/
.cajaMenu {
  background-color: #4c4c4c;
  padding: 50px; }
  .cajaMenu #titulo {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cajaMenu #menuprincipal ul li {
    border: groove 3px #080808;
    padding: 25px 55px;
    display: inline-block;
    color: #080808;
    background-color: #29d4d4; }
  .cajaMenu #bienvenida {
    color: #ce329a;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px; }

.cajaContenedora {
  background-color: #4c4c4c; }
  .cajaContenedora .descripcionequipo {
    padding-top: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
  .cajaContenedora #historia {
    padding-top: 50px;
    font-style: italic;
    font-size: 20px;
    width: 250px;
    color: white; }
  .cajaContenedora #fotoequipo {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 650px;
    height: 615px; }

.derechos {
  text-align: center; }

/* CSS PAGINA EQUIPO*/
#bodybahiami {
  position: absolute;
  width: 100%;
  height: 100%; }

.cajamenu2 {
  background-color: #4c4c4c;
  padding: 50px; }
  .cajamenu2 #tituloequipo {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cajamenu2 #menuprincipalequipo ul li {
    border: groove 3px #080808;
    padding: 20px 45px;
    display: inline-block;
    color: #080808;
    background-color: #29d4d4; }
  .cajamenu2 #bienvenidaequipo {
    color: #ce329a;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px; }

.conoce {
  background-color: #4c4c4c; }
  .conoce #tituloconoce {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .conoce #descripcionconoce {
    color: #29d4d4;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.plantel {
  background-color: #4c4c4c;
  padding-top: 50px; }
  .plantel #nuestroplantel {
    color: #ce329a;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.tabla {
  border-spacing: 2px;
  border-color: #29d4d4; }
  .tabla .jugadores {
    color: white; }
  .tabla .posiciones {
    color: white; }
  .tabla .numeros {
    color: white; }
  .tabla #jugador {
    color: #ce329a;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .tabla #posicion {
    color: #ce329a;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .tabla #dorsal {
    color: #ce329a;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.conocejugadores {
  background-color: #4c4c4c;
  padding-top: 50px; }
  .conocejugadores #players {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .conocejugadores .gonza .datos {
    color: white;
    padding-top: 15px; }
  .conocejugadores .gonza #titulogonza {
    color: #29d4d4;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .conocejugadores .gonza #biografia {
    color: white;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic; }

.derechos2 {
  text-align: center; }

/*CSS PAGINA CONTACTO*/
.cajamenu3 {
  background-color: #4c4c4c;
  padding: 50px; }
  .cajamenu3 #titulocontacto {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cajamenu3 #menuprincipalcontacto ul li {
    border: groove 3px #080808;
    padding: 20px 45px;
    display: inline-block;
    color: #080808;
    background-color: #29d4d4; }
  .cajamenu3 #bienvenidacontacto {
    color: #ce329a;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px; }

.mensaje {
  background-color: #4c4c4c;
  padding-top: 50px; }
  .mensaje #titulomensaje {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .mensaje #escribimensaje {
    color: #29d4d4;
    font-style: italic;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.colorcito {
  color: white; }

.derechos3 {
  text-align: center; }

/* CSS PAGINA NOTICIAS */
.cajaMenu4 {
  background-color: #4c4c4c;
  padding: 50px; }
  .cajaMenu4 #titulonoticias {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cajaMenu4 #menuprincipalnoticias ul li {
    border: groove 3px #080808;
    padding: 20px 45px;
    display: inline-block;
    color: #080808;
    background-color: #29d4d4; }
  .cajaMenu4 #bienvenidanoticias {
    color: #ce329a;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px; }

.cajanoticias {
  background-color: #4c4c4c;
  padding: 50px; }

.titulonoticias {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.noticia1 {
  text-align: center;
  padding-top: 40px;
  color: #29d4d4; }

#descripcionNoticia1 {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.noticia2 {
  text-align: center;
  padding-top: 15px;
  color: #29d4d4; }

#descripcionNoticia2 {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.derechos4 {
  text-align: center; }

/* CSS PAGINA GALERIA */
.cajaMenu5 {
  background-color: #4c4c4c;
  padding: 30px; }
  .cajaMenu5 #titulogaleria {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .cajaMenu5 #menuprincipalGaleria ul li {
    border: groove 3px #080808;
    padding: 20px 45px;
    display: inline-block;
    color: #080808;
    background-color: #29d4d4; }
  .cajaMenu5 #bienvenidagaleria {
    color: #ce329a;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px; }

.cajagaleria {
  background-color: #4c4c4c;
  padding: 50px; }

.galeria {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px; }

.ordengaleria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.fotito {
  width: 100%;
  height: 100%; }

.derechos5 {
  text-align: center; }
