
.bodyBahiami {
    display: grid;
}

.cajaMenu {
    color: rgb(41, 219, 219);
    background-color: rgb(206, 50, 154);
    
    .titulo {
        color: rgb(41, 219, 219);
        background-color: rgb(206, 50, 154);
        text-align: center;
        font-size: 80px;
        padding: 30px;
    }
    .menuprincipal ul li {
        border: groove 3px rgb(41, 212, 212);
        padding: 35px 35px;
        display: inline-block;
        color: rgb(41, 219, 219);
        background-color: rgb(206, 50, 154);
        background-image: linear-gradient(to bottom,rgb(206, 50, 154),rgb(41, 219, 219) )
    }
    .bienvenida {
        background-color: rgb(41, 212, 212);
        color: rgb(206, 50, 154);
        text-align: center;
        padding: 50px;
    }
}

.cajaContenedora {
    color: rgb(41, 219, 219);
    background-color: rgb(206, 50, 154);
    padding-bottom: 10px;

    .nostros {
        padding-bottom: 10%;
    }

    .descripcionequipo {
        font-size: 30px;
        text-align: center;
    }

    .fotoequipo {
        padding-top: 100px;
        padding-left: 250px;
        padding-bottom: 10%;
        width: 500px;
        height: 500px;

        transform: translate(-200px, -420px)
    }

    .historia {
        font-size: 20px;
        width: 250px;
        margin-left: 650px;
    }

    .noticias {
        color:  rgb(206, 50, 154);
        text-align: center;
        background-color: rgb(41, 212, 212);
        font-size: 20px;
        padding-top: 10px;
    
        display: flex;
        flex-direction: column;
    }

    .galeria {
        color: rgb(41, 219, 219);
        background-color: rgb(206, 50, 154);
        text-align: center;
    
        display: flex;
        flex-direction: column;
    }

}

.derechos {
    text-align: center;
}