.cajaMenu {
    background-color: rgb(206, 50, 154);
    padding: 50px;
    background-image: linear-gradient(to bottom,rgb(206, 50, 154),rgb(41, 219, 219) );

    #titulo {
        color: rgb(41, 219, 219);
        text-align: center;
        font-size: 80px;
        padding-bottom: 40px;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #menuprincipal ul li {
        border: groove 3px rgb(41, 212, 212);
        padding: 20px 55px;
        display: inline-block;
        color: rgb(41, 219, 219);
        background-color: rgb(206, 50, 154);
    }
    
    #bienvenida {
        color: rgb(206, 50, 154);
        text-align: center;
        padding-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        
}

.cajaContenedora {
    background-color: rgb(41, 212, 212);

    #descripcionequipo {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }    background-image: linear-gradient(to bottom,rgb(41, 219, 219),rgb(206, 50, 154) );

    #historia {
        padding-top: 50px;
        font-style: italic;
        font-size: 20px;
        width: 250px;
    }

    #fotoequipo {
        padding-top: 50px;
        padding-bottom: 100px;
        width: 650px;
        height: 615px;
    }
}

#titulonoticias {
        text-align: center;
        color: rgb(206, 50, 154);
        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#noticia1 {
    text-align: center;
    padding-top: 15px;
    color: rgb(206, 50, 154);
}
#descripcionNoticia1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#galeria {
    text-align: center;
    color: rgb(206, 50, 154);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 35px;
}

.ordengaleria {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.fotito {
    width: 100%;
    height: 100%;
}

.derechos {
    text-align: center;
    }

/* CSS PAGINA EQUIPO*/

#bodybahiami {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cajamenu2 {
    background-color: rgb(206, 50, 154);
    padding: 50px;
    background-image: linear-gradient(to bottom,rgb(206, 50, 154),rgb(41, 219, 219) );
    
    #tituloequipo {
        color: rgb(41, 219, 219);
        text-align: center;
        font-size: 80px;
        padding-bottom: 40px;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #menuprincipalequipo ul li {
        border: groove 3px rgb(41, 212, 212);
        padding: 20px 45px;
        display: inline-block;
        color: rgb(41, 219, 219);
        background-color: rgb(206, 50, 154);
    }

    #bienvenidaequipo {
        color: rgb(206, 50, 154);
        text-align: center;
        padding-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.conoce {
    background-color: rgb(41, 212, 212);

    #tituloconoce {
        color: rgb(206, 50, 154);
        text-align: center;
        padding-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    #descripcionconoce {
        color: rgb(206, 50, 154);
        text-align: center;
        padding-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
